@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor-principal: #f6f6f6;
    --cor-rosa: #ff9e9e;
    --cor-preto: #000000;
}
body{
    background-color: var(--cor-principal);
    color: var(--cor-rosa);
    font-family: 'Krona One';
}
.cabecalho{
    background-color: var(--cor-rosa);
    padding: 1% 15%;
}
.cabecalho-navegacao{
    display: flex;
    gap: 40px;
}
.cabecalho-navegacao a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-principal);
    font-family: 'Montserrat';
    transition: 0.3s;
}
.cabecalho-navegacao a:hover{
    letter-spacing: 3px;
}
.area-principal{
    padding: 10% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.area-principal-conteudo{
    width: 50%;
}
.area-principal-conteudo h1{
    text-align: center;
    font-size: 1.75rem;
}
.area-principal-foto{
    width: 50%;
}
.imagem{
    border-radius: 30px;
}
.area-carta{
    background-image: linear-gradient(130deg, var(--cor-rosa), var(--cor-rosa), var(--cor-principal));
    padding: 10% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.area-carta-conteudo{
    color: var(--cor-principal);
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.area-carta-conteudo h1{
    font-size: 1.75rem;
    text-align: center;
}
.area-carta-conteudo p{
    font-size: 1.25rem;
}
.area-carta-foto{
    width: 50%;
}
.area-fotos{
    padding: 10% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.area-fotos-titulo{
    text-align: center;
    font-size: 1.75rem;
}
.area-fotos-album{
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.area-fotos-album div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.area-fotos-album div img{
    width: 30%;
    border: solid 1px black;
    border-radius: 30px;
}
.area-brincadeira{
    background-image: url(../assests/imagemDeFundo.png);
    padding: 10% 15%;
    color: var(--cor-preto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.area-brincadeira-historia{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}
.area-brincadeira-historia h1{
    font-size: 1.75rem;
}
.area-brincadeira-historia p{
    font-size: 1.25rem
}
.area-brincadeira-conteudo{
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.area-brincadeira-conteudo h1{
    font-size: 1.75rem;
}
.area-brincadeira-conteudo p{
    font-size: 1.25rem
}
.area-brincadeira-conteudo-botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.area-brincadeira-conteudo-botoes button{
    padding: 2.5% 8%;
    border: 0px;
    border-radius: 20px;
    background-color: #ff9e9e;
    transition: 0.3s;
    font-size: 1.25rem;
}
.area-brincadeira-conteudo-botoes button:hover{
    letter-spacing: 3px;
}
.rodape{
    padding: 1% 0%;
    background-color: var(--cor-rosa);
    color: var(--cor-principal);
    font-size: 1.25rem;
    text-align: center;
}
.area-brincadeira-conteudo-resposta{
    color: rgb(177, 82, 82);
}
